.ratings {
  background-color: #576f72;
  border-top: 2px dashed #e1fcff;
  border-bottom: 2px dashed #e1fcff;
  padding-top: 64px;
  padding-bottom: 64px;
  color: #ffffff;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      gap: 36px;
    }
    .item-left {
      h3 {
        font-size: 28px;
        font-weight: 500;
        max-width: 500px;
        letter-spacing: 1.5px;
        line-height: 38px;
      }
    }
    .item-right {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 32px;
      span {
        text-align: center;
        line-height: 30px;
        max-width: 200px;
        &:first-child {
          b {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              max-width: 28px;
            }
          }
        }
        b {
          font-weight: 700;
          font-size: 48px;
          min-height: 42px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}